*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: calc(100vh - 100px);
    background-color: goldenrod;
    display: flex;
}

header{
    height: 80px;
    background-color: coral;
    position: sticky;
    top: 0;
}

footer{
    height: 100px;
    background-color: red;
}

#side-bar{
    width: 200px;
    height: 100%;
    background-color: aqua;
}

#content{
    width: calc(100vw - 200px);
    overflow-y: auto;
}

/* flexbox */

.d-flex{
    display: flex;
}